absl-py==0.9.0
attrs==19.3.0
blinker==1.4
boto3==1.13.11
botocore==1.16.11
brotlipy==0.7.0
cachetools==4.1.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
configparser==5.0.0
cryptography==2.9.2
cycler==0.10.0
dill==0.3.1.1
docker-pycreds==0.4.0
docutils==0.15.2
filelock==3.0.12
future==0.18.2
gitdb==4.0.5
gitpython==3.1.2
google-auth-oauthlib==0.4.1
google-auth==1.14.3
googleapis-common-protos==1.51.0
gql==0.2.0
graphql-core==1.1
grpcio==1.27.2
h5py==2.10.0
idna==2.9
importlib-metadata==1.6.0
jmespath==0.10.0
joblib==0.15.1
keras-applications==1.0.8
keras-preprocessing==1.1.2
keras==2.3.1
kiwisolver==1.2.0
markdown==3.2.2
matplotlib==3.2.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
nltk==3.5
numpy==1.18.4
nvidia-ml-py3==7.352.0
oauthlib==3.0.1
olefile==0.46
packaging==20.3
pathtools==0.1.2
pillow==7.1.2
pip==20.0.2
portalocker==1.7.0
promise==2.3
protobuf==3.12.1
psutil==5.7.0
pyasn1-modules==0.2.7
pyasn1==0.4.8
pycparser==2.20
pyjwt==1.7.1
pyopenssl==19.1.0
pyparsing==2.4.7
pysocks==1.7.1
python-dateutil==2.8.1
pytorch-lightning==0.7.3
pyyaml==5.3.1
regex==2020.5.14
requests-oauthlib==1.2.0
requests==2.23.0
rouge-score==0.0.3
rsa==4.0
s3transfer==0.3.3
sacrebleu==1.4.9
sacremoses==0.0.43
scikit-learn==0.23.1
scipy==1.4.1
sentencepiece==0.1.90
sentry-sdk==0.14.4
seqeval==0.0.12
setuptools==46.2.0.post20200511
shortuuid==1.0.1
six==1.14.0
smmap==3.0.4
subprocess32==3.5.4
tensorboard==2.1.1
tensorflow-datasets==3.1.0
tensorflow-metadata==0.22.1
termcolor==1.1.0
threadpoolctl==2.1.0
tokenizers==0.7.0
torch==1.5.0
torchvision==0.6.0a0+82fd1c8
tqdm==4.46.0
transformers==2.10.0
typing==3.7.4.1
urllib3==1.25.9
wandb==0.8.36
watchdog==0.10.2
werkzeug==1.0.1
wheel==0.34.2
wrapt==1.12.1
zipp==3.1.0